@media (min-width: 320px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.6rem;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-col-2-sidebar {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.grid-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media only screen and (max-width: 1199px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 736px) {
    grid-template-columns: 1fr;
  }
}
